<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>To login with github click <a href="https://github.com/login/oauth/authorize?scope=user:email%20repo&client_id=<%= clientId %>">here</a></p>
  </body>
</html>
